<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test01</display-name>
  <welcome-file-list>
    <welcome-file>client/index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SendEmailServlet</display-name>
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>test01.controller.SendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/SendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>test01.controller.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountServlet</display-name>
    <servlet-name>MyAccountServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.MyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountServlet</servlet-name>
    <url-pattern>/myAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByPageServlet</display-name>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.ShowProductByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <url-pattern>/showProductByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByIdServlet</display-name>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.FindProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByIdServlet</servlet-name>
    <url-pattern>/findProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuSearchServlet</display-name>
    <servlet-name>MenuSearchServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.MenuSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuSearchServlet</servlet-name>
    <url-pattern>/MenuSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderByUserServlet</display-name>
    <servlet-name>FindOrderByUserServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.FindOrderByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByUserServlet</servlet-name>
    <url-pattern>/findOrderByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCartServlet</display-name>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/changeCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/createOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelOrderByIdServlet</display-name>
    <servlet-name>DelOrderByIdServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.DelOrderByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelOrderByIdServlet</servlet-name>
    <url-pattern>/delOrderById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderByIdServlet</display-name>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.FindOrderByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByIdServlet</servlet-name>
    <url-pattern>/findOrderById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeOrderStateServlet</display-name>
    <servlet-name>ChangeOrderStateServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.ChangeOrderStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderStateServlet</servlet-name>
    <url-pattern>/changeOrderState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesLoginServlet</display-name>
    <servlet-name>SalesLoginServlet</servlet-name>
    <servlet-class>test01.web.servlet.salesman.SalesLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesLoginServlet</servlet-name>
    <url-pattern>/saleslogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductServlet</display-name>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.ListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/listProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByManyConditionServlet</display-name>
    <servlet-name>FindProductByManyConditionServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.FindProductByManyConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByManyConditionServlet</servlet-name>
    <url-pattern>/findProductByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/editProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrdersServlet</display-name>
    <servlet-name>FindOrdersServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.FindOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrdersServlet</servlet-name>
    <url-pattern>/findOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderByManyConditionServlet</display-name>
    <servlet-name>FindOrderByManyConditionServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.FindOrderByManyConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderByManyConditionServlet</servlet-name>
    <url-pattern>/findOrderByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductByCategoryServlet</display-name>
    <servlet-name>ListProductByCategoryServlet</servlet-name>
    <servlet-class>test01.web.servlet.salesman.ListProductByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductByCategoryServlet</servlet-name>
    <url-pattern>/listProductByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindSalesmanProductByManyConditionServlet</display-name>
    <servlet-name>FindSalesmanProductByManyConditionServlet</servlet-name>
    <servlet-class>test01.web.servlet.salesman.FindSalesmanProductByManyConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSalesmanProductByManyConditionServlet</servlet-name>
    <url-pattern>/findSalesmanProductByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrdersByCategoryServlet</display-name>
    <servlet-name>FindOrdersByCategoryServlet</servlet-name>
    <servlet-class>test01.web.servlet.salesman.FindOrdersByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrdersByCategoryServlet</servlet-name>
    <url-pattern>/findOrdersByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSalesmanServlet</display-name>
    <servlet-name>ListSalesmanServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.ListSalesmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSalesmanServlet</servlet-name>
    <url-pattern>/listSalesman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindSalesmanByManyConditionServlet</display-name>
    <servlet-name>FindSalesmanByManyConditionServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.FindSalesmanByManyConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSalesmanByManyConditionServlet</servlet-name>
    <url-pattern>/findSalesmanByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindSalesmanByIdServlet</display-name>
    <servlet-name>FindSalesmanByIdServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.FindSalesmanByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSalesmanByIdServlet</servlet-name>
    <url-pattern>/findSalesmanById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSalesmanServlet</display-name>
    <servlet-name>EditSalesmanServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.EditSalesmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSalesmanServlet</servlet-name>
    <url-pattern>/editSalesman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/deleteProduc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSalesmanServlet</display-name>
    <servlet-name>DeleteSalesmanServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.DeleteSalesmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSalesmanServlet</servlet-name>
    <url-pattern>/deleteSalesman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindSalesmanOrderByManyConditionServlet</display-name>
    <servlet-name>FindSalesmanOrderByManyConditionServlet</servlet-name>
    <servlet-class>test01.web.servlet.salesman.FindSalesmanOrderByManyConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSalesmanOrderByManyConditionServlet</servlet-name>
    <url-pattern>/findSalesmanOrderByManyCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSalesmanServlet</display-name>
    <servlet-name>AddSalesmanServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.AddSalesmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSalesmanServlet</servlet-name>
    <url-pattern>/addSalesman</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHotProductByPageServlet</display-name>
    <servlet-name>ShowHotProductByPageServlet</servlet-name>
    <servlet-class>test01.web.servlet.client.ShowHotProductByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHotProductByPageServlet</servlet-name>
    <url-pattern>/showHotProductByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListLoginDataServlet</display-name>
    <servlet-name>ListLoginDataServlet</servlet-name>
    <servlet-class>test01.web.servlet.manager.ListLoginDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListLoginDataServlet</servlet-name>
    <url-pattern>/listLoginData</url-pattern>
  </servlet-mapping>
</web-app>